.bg-dark {
  background-color: #12002b;
  min-height: 80vh;
  padding: 5px 0;
}
.sign-in-content {
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
  color: #2c3e50;
}
.sign-in-icon {
  margin-left: 5px;
  color: #2c3e50;
}
